<header>
    <div class="container">
        <h1>Develop Ookkabot</h1>
        <h2>Learning Meteor by Developing Ookkabot (inspired by Discover Meteor)</h2>

        <section id="downloads">
            <a href="https://github.com/Ookkabat/DevelopOokkabot/zipball/master" class="btn">Download as .zip</a>
            <a href="https://github.com/Ookkabat/DevelopOokkabot/tarball/master" class="btn">Download as .tar.gz</a>
            <a href="https://github.com/Ookkabat/DevelopOokkabot" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
    </div>
</header>
