/* Header, <header>
   header   - container
   h1       - project name
   h2       - project description
*/

header {
  background: rgba(0, 0, 0, 0.1);
  //width: 100%;
  max-width: 600px;
  border-bottom: 1px dashed $lime-color;
  padding: 20px 0;
  //margin: 0 0 40px 0;
  margin: 0 auto 40px auto;

  h1 {
    font-size: 30px;
    line-height: 1.5;
    margin: 0 0 0 -40px;
    font-weight: bold;
    font-family: $base-font-family;
    color: $lime-color;
    text-shadow:  0 1px 1px rgba(0, 0, 0, 0.1),
                  0 0 5px rgba(181, 232, 83, 0.1),
                  0 0 10px rgba(181, 232, 83, 0.1);
    letter-spacing: -1px;
    -webkit-font-smoothing: antialiased;

    &:before {
      content: "./ ";
      font-size: 24px;
      font-family: $latin-font-family;
    }
  }

  h2 {
    font-size: 22px;
    font-weight: 300;
    color: #666;
  }
}

footer {
  background: rgba(0, 0, 0, 0.1);
  //width: 100%;
  max-width: 600px;
  border-top: 1px dashed $lime-color;
  padding: 20px 0;
  //margin: 0 0 40px 0;
  margin: 40px auto 0 auto;

  .container {
    width: 100%;
    div {
      display: inline-block;
      width: 49%;
      &.push-right {
        text-align: right;
      }
    }
  }


}

